{% extends 'main/base.html' %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<br />
<br />
<div class="container mx-auto">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
			<div class="row">
				<div class="col-6 my-auto">
					<h2 class="font-weight-bold pt-4">Viajes Programados</h2>
				</div>
			</div>
			<br />
			<div class="row">
				{% for v in viajes_pendientes.all %}
					<div class="col-sm-12 col-md-12 col-lg-12 pb-4">
						<div class="h-100">
							<div class="card-body">
								<h5 class="card-title">{{ v.descripcion }}</h5>
								<p class="text-muted mb-0" style="font-size: 12px">Hora de salida:</p>
								<p class="card-text text-muted" style="font-size: 12px">{{ v.hora }}</p>
								<p class="text-muted mb-0" style="font-size: 12px">Fecha:</p>
								<p class="card-text text-muted" style="font-size: 12px">{{ v.fecha }}</p>
								<p class="text-muted mb-0" style="font-size: 12px">Precio:</p>
								<p class="card-text text-muted" style="font-size: 12px">{{ v.precio }}</p>
								<p class="text-muted mb-0" style="font-size: 12px">Ruta:</p>
								<p class="card-text text-muted" style="font-size: 12px">{{ v.ruta }}</p>
								<form action="{% url 'cancelar_viaje' vId=v.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="text-right">
                                        <button type="submit" value={{v.id}} onclick="return confirm('Está seguro?')" class="btn btn-outline-secondary btn-sm">Cancelar Viaje</button>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}

