{% extends 'main/base.html' %}

<!-- Espacio para añadir hojas de estilo de ser necesarias -->

<!-- Contenido -->
{% block title %}Editar Perfil{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<form method="POST" class="form-group">
	{% csrf_token %}
	{{ user_form |crispy }}
	<button type="submit" class="btn btn-outline-success">Guardar cambios</button>
</form>
<a role="button" class="btn btn-outline-secondary" href="{% url 'perfil' %}">Cancelar</a>
<a role="button" class="btn btn-outline-warning" href="{% url 'cambiar_contraseña' %}">Cambiar contraseña</a>

{% endblock content %}