{% extends "main/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--User-->
<br />
<br />
<div class="container mx-auto">
    <div class="row">
    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
	    	<div class="card p-4">
		    	<h4 class="card-title font-weight-bold text-center">Bienvenido, {{ user.username|title }}</h4>
		      	<hr />
		    	<div class="card-text">
		    		<p class="text-muted mb-0" style="font-size: 12px">Nombre de Usuario:</p>
		    		<p>{{ user.username }}</p>
		    		<p class="text-muted mb-0" style="font-size: 12px">Nombre:</p>
			  		<p>{{ user.first_name }} {{ user.last_name }}</p>
			  		<p class="text-muted mb-0" style="font-size: 12px">Correo Electrónico:</p>
			  		<p>{{ user.email }}</p>
					<p class="text-muted mb-0" style="font-size: 12px">Fecha de Nacimiento:</p>
					<p>{{ user.fecha_nacimiento }}</p>
					<div class="text-right">
						<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#perfilModal">Editar Perfil</button>
					</div>
		        </div>
	    	</div>
	  	</div>
	    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
	    	<div class="row">
	    		<div class="col-6 my-auto">
	    			<h2 class="font-weight-bold pt-4">Viajes Programados</h2>
	    		</div>
	    	</div>
	      	<br>
	      	<div class="row">
				<!-- Aquí falta poner los valores correctos -->
		      	{% for v in viajes_pendientes.all %}
			    	<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
		                <div class="h-100">
							<div class="card-body">
		                  		<h5 class="card-title">{{ v.descripcion }}</h5>
		                    	<p class="card-text text-muted" style="font-size:12px">{{ v.hora }}</p>
                          <p class="card-text text-muted" style="font-size:12px">{{ v.fecha }}</p>
                          <p class="card-text text-muted" style="font-size:12px">'$'{{ v.precio }}</p>
                          <p class="card-text text-muted" style="font-size:12px">{{ v.ruta }}</p>
		                    	<a href="{{ p.url }}" class="btn btn-warning">Ver Viaje</a>
		                	</div>
		              	</div>
		            </div>
		    	{% endfor %}
	        </div>
	    </div>
      <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
	    	<div class="row">
	    		<div class="col-6 my-auto">
	    			<h2 class="font-weight-bold pt-4">Viajes Realizados</h2>
	    		</div>
	    	</div>
	      	<br>
	      	<div class="row">
				<!-- Aquí falta poner los valores correctos -->
		      	{% for v in viajes_finalizados.all %}
			    	<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
		                <div class="h-100">
							<div class="card-body">
		                  		<h5 class="card-title">{{ v.descripcion }}</h5>
		                    	<p class="card-text text-muted" style="font-size:12px">{{ v.hora }}</p>
                          <p class="card-text text-muted" style="font-size:12px">{{ v.fecha }}</p>
                          <p class="card-text text-muted" style="font-size:12px">{{ v.ruta }}</p>
                          <a href="{% url 'comentario'%}">agregar comentarios</a>
		                	</div>
		              	</div>
		            </div>
		    	{% endfor %}
	        </div>
	    </div>
	</div>
</div>

<!-- Profile Edit Modal -->
<div class="modal fade" tabindex="-1" id="perfilModal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	      	<div class="modal-header">
		        <h5 class="modal-title">Edit Profile</h5>
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	        <div class="modal-body">
		        <form method="post">
		          	{% csrf_token %}
		          	{{ user_form|crispy }}
	        </div>
	      	<div class="modal-footer">
	        		<button type="submit" class="btn btn-primary">Save changes</button>
	        	</form>
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        </div>
	    </div>
  	</div>
</div>



{% endblock %}
