{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Agregar Tarjeta</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Ingrese los datos de la tarjeta</h3>

              <div class='hideable_billing_form'>
                <div class="md-form mb-2">
                  <label for="tarjeta_nombre" class="">Nombre completo del titular</label>
                  <input type='text' placeholder='Textual aparece en la tarjeta'id='tarjeta_nombre' name='tarjeta_nombre' class='form-control' required/>
                </div>

                  <div class="md-form mb-2">
                    <label for="tarjeta_numero" class="">Fecha de vencimiento</label>
                    <input type='month' placeholder='' id='fecha_ven' name='fecha_ven' class='form-control' required/>
                  </div>

                  <div class="md-form mb-2">
                    <label for="tarjeta_codigo">Numero de tarjeta</label>
                    <input type='text' placeholder='Entre 16 y 19 numeros' id='tarjeta_codigo' name='tarjeta_codigo' class='form-control' minlength="16" maxlength="19" required/>


                </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

      </div>

    </div>
  </main>

{% endblock content %}
