{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .principal{
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 400 px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }
</style>
<script type='text/javascript'>

    function test (precio,user, test){
        
            // Number of inputs to create
            var number = document.getElementById("disponible").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            var total = document.getElementById("disponible").max;

            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            if (parseInt(total) < parseInt(number)){
                container.appendChild(document.createTextNode("No hay tantos asientos disponibles"));
            }

            else{
                if ((test[0] == "[")&&(test[1] == "]")){
            container.appendChild(document.createTextNode("No hay tarjetas guardadas"));
        }
        else{
                container.appendChild(document.createElement("br"));
                for (i=0;i<number;i++){
                    // Append a node with a random text
                    container.appendChild(document.createTextNode("Pasajero "+ (i+1) + ": "));
                    // Create an <input> element, set its type and name attributes
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = "pasajero" + i;
                    input.required = "required";
                    input.minLength = 6;
                    input.placeholder = "DNI del pasajero";
                    //input.value = "pasajero" + i;
                    //input.hidden = true;
                    container.appendChild(input);
                    // Append a line break 
                    container.appendChild(document.createElement("br"));
                }

                
                if ((parseInt(number) > 0) && (parseInt(number) <= parseInt(total) )){

                    container.appendChild(document.createTextNode("Selecciona la tarjeta: "));
                    var cuenta=0;
                    test = test.slice(2);
                    var drop = document.createElement("select");
                    drop.id="drop";
                    drop.name="drop";
                    container.appendChild(drop);
                    while(test.slice(0,1)=="T"){
                        var option = document.createElement("option");
                        option.value=test.slice(0,25);
                        option.text=test.slice(0,25);
                        drop.appendChild(option)
                        test=test.slice(29);
                    }
                    container.appendChild(document.createElement("br"));

                    container.appendChild(document.createTextNode("Ingrese fecha de vencimiento: "));
                    var codT = document.createElement("input");
                    codT.type = "month";
                    codT.name = "fechaT";
                    codT.required = "required";
                    codT.min="2021-06";
                    container.appendChild(codT);

                    container.appendChild(document.createTextNode(" Codigo de seguridad: "));
                    var codT = document.createElement("input");
                    codT.type = "text";
                    codT.name = "codT";
                    codT.required = "required";
                    codT.minLength = 3;
                    codT.placeholder = "Numero de tarjeta";
                    container.appendChild(codT);
                    container.appendChild(document.createElement("br")); 
                    
                    var radio2 = document.createElement("input");
                    radio2.type = "radio";
                    radio2.id="no";
                    radio2.name = "guardado";
                    radio2.required = "required";
                    radio2.value="no";
                    radio2.checked = true;
                    radio2.hidden= true;
                    container.appendChild(radio2);

                    if(user == "True"){
                        container.appendChild(document.createTextNode("Total: "+ (parseInt(precio)*parseInt(number)*0.7) + " (Descuento aplicado) "));
                    }
                    else{
                        container.appendChild(document.createTextNode("Total: "+ parseInt(precio)*parseInt(number)));
                    }

                    container.appendChild(document.createElement("br"));
                    var boton = document.createElement("input");
                    boton.type = "submit";
                    boton.name = "comprar";
                    boton.id = "Comprar"
                    boton.value = "Confirma Compra";
                    //boton.onclick = "clicked()";
                    container.appendChild(boton);
                }
            }
        //-------------------
        }
        

    }

    function addFields(precio, user){
        // Number of inputs to create
        var number = document.getElementById("disponible").value;
        // Container <div> where dynamic content will be placed
        var container = document.getElementById("container");
        // Clear previous contents of the container
        var total = document.getElementById("disponible").max;

        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        if (parseInt(total) < parseInt(number)){
            container.appendChild(document.createTextNode("No hay tantos asientos disponibles"));
        }
        else{
            container.appendChild(document.createElement("br"));
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Pasajero "+ (i+1) + ": "));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "pasajero" + i;
                input.required = "required";
                input.minLength = 6;
                input.placeholder = "DNI del pasajero";
                //input.value = "pasajero" + i;
                //input.hidden = true;
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }

            
            if ((parseInt(number) > 0) && (parseInt(number) <= parseInt(total) )){

                container.appendChild(document.createElement("br"));  
                container.appendChild(document.createTextNode("Ingrese nombre del propietario: "));
                var numN = document.createElement("input");
                numN.type = "text";
                numN.name = "numN";
                numN.required = "required";
                numN.minLength = 16;
                numN.placeholder = "Como aparece en la tarjeta";
                container.appendChild(numN);
                container.appendChild(document.createElement("br"));  
                
                container.appendChild(document.createElement("br"));  
                container.appendChild(document.createTextNode("Ingrese numero de tarjeta: "));
                var numT = document.createElement("input");
                numT.type = "text";
                numT.name = "numT";
                numT.required = "required";
                numT.minLength = 16;
                numT.placeholder = "Numero de tarjeta";
                container.appendChild(numT);
                container.appendChild(document.createElement("br"));  

                container.appendChild(document.createTextNode("Ingrese fecha de vencimiento: "));
                var codT = document.createElement("input");
                codT.type = "month";
                codT.name = "fechaT";
                codT.required = "required";
                codT.min="2021-06";
                container.appendChild(codT);

                container.appendChild(document.createTextNode(" Codigo de seguridad: "));
                var codT = document.createElement("input");
                codT.type = "text";
                codT.name = "codT";
                codT.required = "required";
                codT.minLength = 3;
                codT.placeholder = "Numero de tarjeta";
                container.appendChild(codT);
                container.appendChild(document.createElement("br")); 

                container.appendChild(document.createTextNode("Desea guardar la tarjeta? "));
                container.appendChild(document.createTextNode("Si "));
                var radio1 = document.createElement("input");
                radio1.type = "radio";
                radio1.id="si";
                radio1.name = "guardado";
                radio1.required = "required";
                radio1.value="si";
                radio1.checked = true;
                container.appendChild(radio1);
                container.appendChild(document.createTextNode("No "));
                var radio2 = document.createElement("input");
                radio2.type = "radio";
                radio2.id="no";
                radio2.name = "guardado";
                radio2.required = "required";
                radio2.value="no";
                container.appendChild(radio2);
                container.appendChild(document.createElement("br")); 

                if(user == "True"){
                    container.appendChild(document.createTextNode("Total: "+ (parseInt(precio)*parseInt(number)*0.7) + " (Descuento aplicado) "));
                }
                else{
                    container.appendChild(document.createTextNode("Total: "+ parseInt(precio)*parseInt(number)));
                }

                container.appendChild(document.createElement("br"));
                var boton = document.createElement("input");
                boton.type = "submit";
                boton.name = "comprar";
                boton.id = "Comprar"
                boton.value = "Confirma Compra";
                //boton.onclick = "clicked()";
                container.appendChild(boton);
            }
        }
    }
</script>
<h1>
    <p style="text-align:left"> 
        Compra para Origen: {{viaje.ruta.origen}} Destino: {{viaje.ruta.destino}}
        <span style="float:right"
            >Fecha: {{viaje.fecha}}
        </span>
    </p>
</h1>
<br>
<hr>
<div class="text-center">
    <div class="card">
        <p id = principal>
            <h3>Quedan disponibles {{total}}</h3>
            <a>Cuantos asientos deasea ? </a>
            <div class= "col-xs-4">
                <input type="number" id= "disponible" name="diponible" min=1 max={{total}}>
            </div>
            <a >
                <br>
                <div class= "col-xs-4">
                <button class = "btn btn-success" onclick="addFields('{{viaje.precio}}','{{user.is_premium}}')">Pago con nueva tarjeta</button>
                <button class = "btn btn-success" onclick="test('{{viaje.precio}}','{{user.is_premium}}','{{user.test}}')">Pago con tarjeta guardada</button>
                </div>
            </a> 
            <div class="col-sm-12">
            <a class="btn btn-danger" href="{% url 'home' %}" role="button">Cancelar Compra</a>
        </div>
            <form method="POST">
                {% csrf_token %}
                <div id="container"/>
            </form>
        </p>
    </div>
</div>
{% endblock content %}