{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script type='text/javascript'>

    function clicked() {
       if (confirm('Do you want to submit?')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }

    function addFields(precio){
        // Number of inputs to create
        var number = document.getElementById("disponible").value;
        // Container <div> where dynamic content will be placed
        var container = document.getElementById("container");
        // Clear previous contents of the container
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for (i=0;i<number;i++){
            // Append a node with a random text
            container.appendChild(document.createTextNode(precio));
            // Create an <input> element, set its type and name attributes
            var input = document.createElement("input");
            input.type = "text";
            input.name = "pasajero" + i;
            input.required = "required";
            input.value = "pasajero" + i;
            input.hidden = true;
            container.appendChild(input);
            // Append a line break 
            container.appendChild(document.createElement("br"));
        }
        container.appendChild(document.createTextNode("Total: "+precio*i));
        if (number > 0){
            var boton = document.createElement("input");
            boton.type = "submit";
            boton.name = "comprar";
            boton.id = "Comprar"
            boton.value = "Confirma Compra";
            //boton.onclick = "clicked()";
            container.appendChild(boton);
        }
    }
</script>
<h1>
    <p style="text-align:left"> 
        Compra para Origen: {{viaje.ruta.origen}} Destino: {{viaje.ruta.destino}}
        <span style="float:right"
            >Fecha: {{viaje.fecha}}
        </span>
    </p>
</h1>
<br>
<hr>
<p>Quedan disponibles {{total}}</p>
<a>Cuantos asientos deasea ? </a><input type="number" id= "disponible" name="diponible" min=1 max={{total}}>
<a href="#" id="filldetails" onclick="addFields({{viaje.precio}})"><button>Confirmar asientos deseados</button></a> 
<a href="/">
    <button>Cancelar Compra</button>
</a>
<form method="POST">
    {% csrf_token %}
    <div id="container"/>
</form>
{% endblock content %}