<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.viajeCollapse {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .viajeCollapse:hover {
  background-color: #555;
}

.contenido {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

</style>

{% extends 'main/base.html' %}

{% block content_title %} Home {% endblock content_title %}
{% block content %}
        <button type="button"  class="viajeCollapse">
          <h2><p style="text-align:left"> Buscar </p></h2>
        </button>
        <div class="contenido">
          <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Buscar</button>
          </form>
        </div>
        {%for viaje in listaViaje %}
            <button type="button"  class="viajeCollapse">
                <h2><p style="text-align:left"> Origen: {{viaje.ruta.origen}} Destino: {{viaje.ruta.destino}}
                  <span style="float:right">Fecha: {{viaje.fecha}}</span></p></h2>
            </button>
            <div class="contenido">
                <h3 style="text-align:left" >{{viaje.descripcion}}<p style="text-align:right">${{viaje.precio}}</p>
                <button type="submit"><a href="{% url 'compra' vId=viaje.id %}">Comprar</a></button>
                </h3> 
            </div>
        {% empty %}
          <p>No se encontro ningun viaje con esos criterios de busqueda.</p>
        {% endfor %}

        <script>
            var coll = document.getElementsByClassName("viajeCollapse");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
            </script>

{% endblock content %}